<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div class="container login full">


    <div class="login-row">
        <h2 class="title">Login</h2>
        <div class="col-sm-8">
            <form class="form-horizontal" th:action="@{/profile}" method="post">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" class="input" placeholder="Email"/>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="input" th:field="*{password}"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary" name="action" value="login">Login</button>
                        <button type="submit" class="btn btn-primary" name="action" value="register">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

