<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:object="${user}" th:action="@{/match}" method="post">
        <div id="header">
            <h1 class="title" th:text="${user.name}">User Details</h1>
        </div>
        <div id="middle">
            <div id="food" class="col-sm-6">
                <h2>I want to eat...</h2>
                <tr th:each="foodpreference : ${foodPreferences}">
                    <td th:text="${foodpreference}"></td>
                    <ul>
                        <li>Sushi</li>
                        <li>Mexican</li>
                    </ul>
                </tr>
            </div>
            <div id="topics" class="col-sm-6">
                <h2>I want to talk about...</h2>
                <tr th:each="themepreference : ${themePreferences}">
                    <ul>
                        <li>Weirdest pets names</li>
                        <li>Pandas</li>
                    </ul>
                </tr>
            </div>
        </div>
        <div id="buttons">
            <div>
                <button type="submit" class="btn btn-primary col-sm-3" name="action" value="previous">Previous</button>
            </div>
            <div class="col-sm-1"></div>
            <div>
                <button type="submit" class="btn btn-primary col-sm-4" name="action" value="invite">Invite</button>
            </div>
            <div class="col-sm-1"></div>
            <div>
                <button type="submit" class="btn btn-primary col-sm-3" name="action" value="next">Next</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>