<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:object="${user}" th:action="@{/match}" method="post">
        <div id="header">
            <h1 class="title" style="margin-bottom: 30px;" th:text="${user.name}">User Details</h1>
            <div class="col-sm-12" style="margin-bottom: 40px;">
                <input type="text" class="form-control col-sm-12 input" style="height: 80px" th:field="*{local}"/>
            </div>
        </div>
        <br/>
        <div id="middle" style="background-color: transparent" class="form-group">
            <div id="food" style="margin-top: 50px; background-color: transparent">
                <h2>I want to eat...</h2>
                <select class="form-control input" name="food">
                    <option value="Chinese">Chinese</option>
                    <option value="Italian">Italian</option>
                    <option value="Burgers">Burgers</option>
                    <option value="Stuff">Stuff</option>
                    <option value="Sushi">Sushi</option>
                </select>
            </div>
            <div id="topics" style="background-color: transparent">
                <h2>I want to talk about...</h2>
                <select class="form-control input" name="topics">
                    <option value="a">Koala diseases</option>
                    <option value="b">Pen brands</option>
                    <option value="c">Weirdest pet names</option>
                    <option value="d">How to be a trashman</option>
                </select>
            </div>
            <div id="contacts">
                <h2>Reach me at..</h2>
                <p>968274059</p>
            </div>
        </div>
        <div id="buttons">
            <div>
                <button type="submit" class="btn btn-primary col-sm-12" name="action" value="search">Search</button>
            </div>
            <div>
                <button type="submit" class="btn btn-primary col-sm-12" name="action" value="invitations">Invitations</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>