<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<div class="container">

    <h2 class="registertitle">Enter your details</h2>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" th:object="${user}" th:action="@{'/user/' + ${user.id}}" method="post">

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <!--<label class="col-sm-2 control-label">Name:</label>-->
                    <div class="col-sm-12">
                        <input type="text" class="input col-sm-12" placeholder="Name" th:field="*{name} "/>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label class="col-sm-2 control-label">Password:</label>--->
                    <div class="col-sm-12">
                        <input type="password" class="input col-sm-12" placeholder="Password"
                               th:field="*{password}"/>
                    </div>
                </div>
                <div class="form-group">
                    <!----<label class="col-sm-2 control-label">Contact:</label>---->
                    <div class="col-sm-12">
                        <input type="text" class="input col-sm-12" placeholder="Contact" th:field="*{contact}"/>
                    </div>
                </div>
                <div class="form-group">
                    <!---- <label class="col-sm-2 control-label">Phone:</label>--->
                    <div class="col-sm-12">
                        <input type="text" class="input col-sm-12" placeholder="Phone" th:field="*{photo}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary col-sm-12" name="action" value="submit">
                            Submit
                        </button>
                        <button type="cancel" class="btn btn-danger col-sm-12" name="action" value="cancel">Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>