body{
    background-image: url("/matching/img/login-back.jpg");
   /* background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;*/
    background-repeat: repeat-y;
}

/*.login-row{
    opacity: 0.8;
    width: 70vw;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}*/


.full > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:30vw;
}

/*@media only screen and (min-width: 900px) {

    .full > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:0vw;
    }

    .login-row{
        max-width: 800px;
    }
}*/