.container, .full{
    background-image: url("/matching/img/login-back.jpg");
   /* background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;*/
}

/*.login-row{
    opacity: 0.8;
    width: 70vw;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}


.full > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    .form-group{
        max-width: 90%;
    }

    .input {
        width: 100%;
    }
}*/