.btn{
    width: 400px;
    height: 70px;
    object-fit: contain;
    background-color: #0072bc;
}

.input{
    min-width: 500px;
    height: 70px;
    object-fit: contain;
    background-color: #ebebeb;
}

.full{
    display: grid;
    width: auto;
    height: 100vw;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.form-group label{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    display: inline-flex;
}

.form-group div{
    display: inline-flex;
    clear: right;
}



