body{
    background: #e66f4b !important;
}

.btn{
    height: 120px;
    margin-top: 20px;
    font-size: 40px !important;
    font-family: 'Roboto', sans-serif;

}

.input{
    height: 120px;
    object-fit: contain;
    font-size: 40px !important;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form-horizontal .row{
    margin-top: 50px;
}
/*
.full{
    display: grid;
    width: auto;
    height: 100vw;
}
*/
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    padding: 5px;
    margin-bottom: 40px;
    color: aliceblue;
    text-align: center;
}

.registertitle{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    padding: 5px;
    margin-bottom: 80px;
    margin-top: 70px;
    color: aliceblue;
    text-align: center;
}
/*
.form-group label{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    display: inline-flex;
    display: none;
}

.form-group div{
    display: inline-flex;
    clear: right;
}*/



